# Виртуальное окружение
venv
.venv

# git
.git
.gitignore

# Настройки IDE
.idea
.vscode
__pycache__/

# База данных
db.sqlite3
db.sqlite3.bak

# Конфигурации и настройки
.env

# Директрории и файлы проекта
docker_prod
README.md
setup.cfg
tg_work_bot/tests
tg_work_bot/*.db
tg_work_bot/*table_report.xlsx
